<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de l'Email</title>
</head>
<body>
    <p>Bonjour ,</p>
    <p>Pour confirmer votre adresse email, veuillez cliquer sur le lien suivant :</p>
    <p>Merci !</p>
</body>
</html>
