{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button class="btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
